body{
    font: 400 2rem/1.2 Arial, sans-serif;
    color: #000;
    background: lightgoldenrodyellow;
}
@media only screen and (min-width: 820px){
    body{
        font-size: 3rem;
    }
}
@media only screen and (min-width: 1200px){
    body{
        font-size: 4rem;
    }
}
h1{
    font-size: 3rem;
    margin: 5rem 0 3rem;
}
.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 1.5rem;
}
@media only screen and (min-width: 820px){
    .container{
        max-width: 75rem;
    }
}
@media only screen and (min-width: 1200px){
    .container{
        max-width: 100rem;
    }
}
.img-fluid{
    display: block;
    max-width: 100%;
    height: auto;
}
.accordion{
    padding-bottom: 5rem;
}
@media only screen and (min-width: 1200px){
    .accordion:hover .accordion-item__icon{
       opacity: 1;
    }
    .accordion:hover .accordion-item__title{
        color: #000;
    }
}
.accordion-item {
    border-top: 1px solid gray;
    display: block;
    transition: all 0.3s ease-out;
}
@media only screen and (min-width: 1200px){
    .accordion-item:hover .accordion-item__image img{
        width: 100%;
        margin-bottom: 4rem;
    }
    .accordion-item:hover .accordion-item__icon{
        transform: rotate(-45deg);
    }
    .accordion-item:active .accordion-item__title, 
    .accordion-item:active .accordion-item__icon{
        color: lightskyblue;
    }
}
.accordion-item__header {
    padding: 1rem 0;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.accordion-item__title {
    margin-right: 2rem;
    transition: all 0.3s ease-out;
}
@media only screen and (min-width: 1200px){
    .accordion-item__title{
        color: lightseagreen;
    }
    .accordion-item__input:checked ~ .accordion-item__header .accordion-item__title{
        color: #000;
    }
}
.accordion-item__icon {
    transition: all 0.3s ease-out;
    font-size: 4rem;
}
@media only screen and (min-width: 820px){
    .accordion-item__icon{
        font-size: 5rem;
    }
}
@media only screen and (min-width: 1200px){
    .accordion-item__icon{
        font-size: 6rem;
        opacity: 0;
    }
}
.accordion-item__image {
    display: flex;
    justify-content: center;
    max-width: 64rem;
    margin: 0 auto;
}
.accordion-item__image img{
    width: 0;
    transition: all 0.5s ease-out;
}
.accordion-item__input{
    display: none;
}
.accordion-item__input:checked ~ .accordion-item__header .accordion-item__icon{
    transform: rotate(-45deg);
    color: #000;
}
.accordion-item__input:checked ~ .accordion-item__image img{
    width: 100%;
    margin-bottom: 4rem;
}